@font-face{
    font-family: Perpetua;
    src: url("../fonts/perpetua.ttf");
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    height: 0;
}
.logo:hover{
    background: rgba(0,0,0,0.2);
}
.intro{
    height: 100%;
}
.intro .hello{
    margin-top: 275px;
    padding: 5px;
    margin-left: 42%;
}
.intro .hello .name{
    font-size: 4rem;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-transform: uppercase;
    color: #b4c3ce;
}
.top-link{
    text-align: center;
    color:#3399cc;
}
#aboutme{
    background-color: #d5e0e0;
}
#aboutme h2{
    margin-top: 0;
    font-size: 2.75rem;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;;
    color: #27252C;
    text-align: center;
}
#aboutme .description{
    font-size: 1.25rem;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;;
    color: #27252C;
    text-align: justify;
    margin-left: 16.5%;
}
#future{
    background-color: #d5e0e0;
    margin-top: 0;
}
#past{
    background-image: url("../img/greybackground.jpg");
}
.row h3{
    text-align: left;
    padding-left: 2%;
}
.theme-box4{
    width:333px;
    height:133px;
    background: rgba(0,0,0,0.5);
    border: 5px solid transparent;
}
.theme-box4 .panel-th{
    width: 90%;
    height: 90%;  
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
}

/* -- make sure to declare a default for every property that you want animated -- */
/* -- general styles, including Y axis rotation -- */
.panel-th .front {
    margin: 5%;
    position: absolute;
    z-index: 900;
    width: inherit;
    height: inherit;
    text-align: center;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    /* -- transition is the magic sauce for animation -- */
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.panel-th.flip .front {
    z-index: 900;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}
.panel-th .back {
    margin:5%;
    position: absolute;
    z-index: 800;
    width: inherit;
    height: inherit;
    -webkit-transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;

    -moz-transform: rotateY(-180deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    /* -- transition is the magic sauce for animation -- */
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.panel-th.flip .back {
    z-index: 1000;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
}
 .resize{
    display:block;
    height: 97%;
    width: 100%;            
    text-align: center;
    position: relative;
}
 .panel-th .back div p{
    color: white; 
    text-align: center;
    line-height: 1.3em;
    font-size: 0.95em;
    vertical-align: middle;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;;
 }
  .panel-th .back div p a{
    line-height: 1.5em;
    color: #009CDE;
 }
.transparent{
    background-color: transparent;
    width: 780px;
    height: 90px;
    padding-left: 15px;
}
.transparent h3{
    color: #68b4d5;
    font-family: elephant;
    font-size: 4em;
    font-style: italic;
}
.transparent2{
    height:20px;
    width:420px;
    background-color:transparent;
}

.bold{
    font-weight: bold;
}
#skills{
    background-color: #d5e0e0;
    margin-top: 0;
}
#skills h2{
    margin-top: 0;
    font-size: 2.75rem;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;;
    color: #27252C;
    text-align: center;
}
.skill-name{
    margin-bottom: 0;
}
.meter.html{
    width: 100%;
}
.meter.css{
    width:70%;
}
.meter.js{
    width:50%;
}
.meter.jquery{
    width:60%;
}
.meter.angular{
    width:30%;
}
.meter.aspnet{
    width:75%;
}
.meter.ruby{
    width:40%;
}
.meter.cpp{
    width:90%;
}
.meter.excelvba{
    width:90%;
}
.meter.sql{
    width:50%;
}