/*@font-face{
    font-family: elephant;
    src: url("../fonts/elephant.ttf");
}*/
body {
  padding-top: 60px;
  padding-bottom: 40px;
}
.transparent{
    background-color: transparent;
    width:780px;
    height:90px;
    padding-left:15px;
}
.transparent h3{
    color: #68b4d5;
    font-family: elephant;
    font-size: 4em;
    font-style: italic;
}
.transparent2{
    height:20px;
    width:420px;
    background-color:transparent;
}
.theme-box1{
    height:630px;
    background: rgba(0,0,0,0.2);
}
.theme-box1 .panel-syde{
    width: 90%;
    height: 90%;
    font-size: .8em;   
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
}

/* -- make sure to declare a default for every property that you want animated -- */
/* -- general styles, including Y axis rotation -- */
.panel-syde .front {
    margin: 10%;
    position: absolute;
    z-index: 900;
    width: inherit;
    height: inherit;
    text-align: center;
}
.panel-syde .back {
    margin:10%;
    position: absolute;
    z-index: 800;
    width: inherit;
    height: inherit;
}
.panel-syde .front img:hover{
    opacity: 0;
}
.theme-box2{
    height: 331.25px;
    background: rgba(0,0,0,0.2); 
}
.theme-box2 h4{
    margin-left: 1%;
    margin-top: 0%;
    font-family: Elephant;
}
.theme-box2 img{
    width: 80%;
    height: 80%;
    margin-left: 10%;
}
.theme-box2 img:hover{
    opacity: 0;
}
.theme-box3{
    height: 280px;
    background: rgba(0,0,0,0.2);     
}
.theme-box3 h5{
    margin-left: 2%;
    font-family: Elephant;
    margin-top: 0%;
}
.theme-box3 img{
    width:80%;
    height: 80%;
    margin-left: 10%;
    margin-top: 5%;
}
.theme-box3 img:hover{
    opacity: 0;
}
.fadeout{
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.large-12{
    margin: 5%;
}