@font-face{
    font-family: Perpetua;
    src: url("../fonts/perpetua.ttf");
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    height: 0;
}
.top-link{
    text-align: center;
    color:#3399cc;

    display:-ms-flexbox;
    -ms-flex-pack:center;
    -ms-flex-align:center;
    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;
    /* Safari, Opera, and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
}
.logo:hover{
    background: rgba(0,0,0,0.2);
}
.intro{
    height: 100%;
}
.intro .hello{
    margin-top: 275px;
    padding: 5px;
    margin-left: 42%;
}
.intro .hello .name{
    font-size: 4rem;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-transform: uppercase;
    color: #b4c3ce;
}

#aboutme{
    background-color: #d5e0e0;
}
#aboutme h2{
    margin-top: 0;
    font-size: 2.75rem;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;;
    color: #27252C;
    text-align: center;
}
#aboutme #future .description{
    font-size: 1.25rem;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;;
    color: #27252C;
    text-align: justify;
    margin-left: 16.5%;
}
#aboutme #future .resume{
    display:-ms-flexbox;
    -ms-flex-pack:center;
    -ms-flex-align:center;
    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;
    /* Safari, Opera, and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;

}
#future{
    background-color: #d5e0e0;
    margin-top: 0;
}
#past{
    background-image: url("../img/greybackground.jpg");
    background-size: cover;
    width:100%;
}
.flip-background{
    background-color: rgba(0,0,0,0.5);
}
.row h3{
    text-align: left;
    padding-left: 2%;
}
.theme-box4{
    width:333px;
    height:133px;
    box-shadow:none;
}
.theme-box4 .panel-th{
    width: 90%;
    height: 88%;  
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    perspective: 600px;
    -ms-perspective: 600px;
}

/* -- make sure to declare a default for every property that you want animated -- */
/* -- general styles, including Y axis rotation -- */
.panel-th .front {
    margin: 5%;
    position: absolute;
    z-index: 900;
    width: inherit;
    height: inherit;
    text-align: center;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    -ms-transform: rotateX(0deg) rotateY(0deg);
    -ms-transform-style: preserve-3d;
    -ms-backface-visibility: hidden;
    transform: rotateX(0deg) rotateY(0deg);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    /* -- transition is the magic sauce for animation -- */
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.panel-th.flip .front {
    z-index: 900;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
}
.panel-th .back {
    margin:5%;
    position: absolute;
    z-index: 800;
    width: inherit;
    height: inherit;
    -webkit-transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;

    -moz-transform: rotateY(-180deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;

    /* -- transition is the magic sauce for animation -- */
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.panel-th.flip .back {
    z-index: 1000;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg);
}
 .resize{
    display:block;
    height: 100%;
    width: 100%;            
    text-align: center;
    position: relative;
}
 .panel-th .back div p{
    color: white; 
    text-align: center;
    line-height: 1.3em;
    font-size: 0.95em;
    vertical-align: middle;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;;
}
  .panel-th .back div p a{
    line-height: 1.5em;
    color: #009CDE;
}
.bold{
    font-weight: bold;
}
#skills{
    background-color: #d5e0e0;
    margin-top: 0;
}
#skills h2{
    margin-top: 0;
    font-size: 2.75rem;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;;
    color: #27252C;
    text-align: center;
}
.skill-name{
    margin-bottom: 0;
}
.meter.html{
    width: 100%;
}
.meter.css{
    width:70%;
}
.meter.js{
    width:50%;
}
.meter.jquery{
    width:70%;
}
.meter.angularjs{
    width:30%;
}
.meter.photoshop{
    width:60%;
}
.meter.aspnet{
    width:70%;
}
.meter.cpp{
    width:90%;
}
.meter.excelvba{
    width:90%;
}
.meter.sql{
    width:50%;
}
.meter p{
    text-align: right;
    color: gray;
    margin-right: 1%;
}
#contact{
    background-image: url("../img/greybackground-contact.jpg");
    background-size: cover;
    width:100%;
    margin-top: 0;
}
#contact h2{
    margin-top: 0;
    font-size: 2.75rem;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    color: gray;
    text-align: center;
}
#contact h5{
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    color: gray;
    text-align: center;
}
#contact .icons{
        /* Internet Explorer 10 */
    display:-ms-flexbox;
    -ms-flex-pack:center;
    -ms-flex-align:center;
    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;
    /* Safari, Opera, and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
}
#contact .icons a img{
    display: inline-block;
    width:100px;
    height:100px;
}
.footer{
    background-color: #27252c;
    color:white;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    height: 8%;
    width: 100%;
}
.footer p{
    padding-top: 1%;
    margin-bottom: 0;
}
/*Responsive*/
@media (max-width: 870px){
    .medium-4{
        width:890px;
    }
    .hello{
        display:-ms-flexbox;
        -ms-flex-pack:center;
        -ms-flex-align:center;
        /* Firefox */
        display:-moz-box;
        -moz-box-pack:center;
        -moz-box-align:center;
        /* Safari, Opera, and Chrome */
        display:-webkit-box;
        -webkit-box-pack:center;
        -webkit-box-align:center;
        /* W3C */
        display:box;
        box-pack:center;
        box-align:center;
    }
}