
    <dl class="accordion" data-accordion>
      <dd class="accordion-navigation">
        <a href="#panel1">Qualification Highlights</a>
        <div id="panel1" class="content active">
            <ul>
                <li>Skilled in C++, Javascript, ASP.NET, practiced through course assignments and hackathons</li>
                <li>Experience with SQL, relational databases and creating ETLs to transfer data frameworks</li>
                <li>Knowledgeable in VBA (Excel) and information analysis, gained as a traffic analyst at the MTO</li>
                <li>Proficient in problem solving, attained through several programming projects at work and school</li>
                <li>Excellent communication and interpersonal skills, shown as writing editor of youth magazine </li>
                <li>Excels in a demanding team environment, acquired as the regional president of youth group</li>
            </ul>
        </div>
      </dd>
      <dd class="accordion-navigation">
        <a href="#panel2">Work Experience</a>
        <div id="panel2" class="content">
             <dl class="accordion" data-accordion>
                <dd class="accordion-navigation">
                    <a href="#panel11">Software Developer - Audatex (a Solera Company)</a>
                    <div id="panel11" class="content active">
                        <ul>
                            <li>Self-learned SQL and PLSQL to understand the company&#39;s data framework</li>
                            <li>Learned the Scrum Methodology in a team and used the JIRA website to document progress</li>
                            <li>Mapped four large .xml files to an Oracle database using Pentaho</li>
                            <li>Ensured ETLs were maintainable, optimized (by 50% runtime) and documented</li>
                            <li>Used Ruby on Rails to write software for Audatex&#39;s website</li>
                        </ul>
                    </div>
                </dd>
              </dl>
        </div>
      </dd>
      <dd class="accordion-navigation">
        <a href="#panel3">Leadership Positions</a>
        <div id="panel3" class="content">
          <dl class="accordion" data-accordion>
                <dd class="accordion-navigation">
                    <a href="#panel31">Software Developer - Audatex (a Solera Company)</a>
                    <div id="panel31" class="content active">
                        <ul>
                            <li>Self-learned SQL and PLSQL to understand the company&#39;s data framework</li>
                            <li>Learned the Scrum Methodology in a team and used the JIRA website to document progress</li>
                            <li>Mapped four large .xml files to an Oracle database using Pentaho</li>
                            <li>Ensured ETLs were maintainable, optimized (by 50% runtime) and documented</li>
                            <li>Used Ruby on Rails to write software for Audatex&#39;s website</li>
                        </ul>
                    </div>
                </dd>
              </dl>
        </div>
      </dd>
      <dd class="accordion-navigation">
        <a href="#panel4">Education</a>
        <div id="panel4" class="content">
          Panel 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
      </dd>
      <dd class="accordion-navigation">
        <a href="#panel5">Awards and Achievements</a>
        <div id="panel5" class="content">
          Panel 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
      </dd>
    </dl>
    <div ui-view></div>
<!-- 
    <script src="foundation/js/vendor/jquery.js"></script>
    <script type="text/javascript" src="js/AskMe.js"></script>
    <script src="foundation/js/foundation/foundation.js"></script>
    <script src="foundation/js/foundation/foundation.accordion.js"></script>
    <script src="foundation/js/foundation/foundation.dropdown.js"></script>
    <script src="foundation/js/foundation/foundation.top-bar.js"></script>
    <script>
      $(document).foundation();
    </script> -->